<!--A Design by W3layouts
Author: W3layout
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html>
<head>
<title>Shop underwear a Ecommerce Category Flat Bootstarp Responsive Website Template | Home :: w3layouts</title>
<link href="/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="/js/jquery.min.js"></script>
<!-- Custom Theme files -->
<!--theme-style-->
<link href="/css/cart.css" rel="stylesheet" type="text/css" media="all" />
<link href="/css/style.css" rel="stylesheet" type="text/css" media="all" />
<!--//theme-style-->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Shop underwear Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!--fonts-->
<link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900' rel='stylesheet' type='text/css'>
<!--//fonts-->
<script type="text/javascript" src="/js/move-top.js"></script>
<script type="text/javascript" src="/js/easing.js"></script>
				<script type="text/javascript">
					jQuery(document).ready(function($) {
						$(".scroll").click(function(event){
							event.preventDefault();
							$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
						});
					});
					</script>
<script>$(document).ready(function(c) {
	$('.alert-close1').on('click', function(c){
		$('.message1').fadeOut('slow', function(c){
	  		$('.message1').remove();
		});
	});
});
</script>
<script>$(document).ready(function(c) {
	$('.alert-close').on('click', function(c){
		$('.message').fadeOut('slow', function(c){
	  		$('.message').remove();
		});
	});
});
</script>
</head>
<body>
	<!-- header -->
	{{include file=$smarty.const.APPPATH|cat:'/views/templates/layout/_header.html'}}
	<!-- header End -->

<div class="men">
	<div class="container">
    <div class="main-grid1">
        <h2>ショッピングカート</h2>
    </div>
    <div class="main-grid2">
        <h2>My Shopping Bag (3)</h2>
        <div class="cart_box">
            <div class="message">
                 <div class="alert-close"> </div>
                <div class="list_img"><img src="/images/book/1.jpg" class="img-responsive" alt=""/></div>
                <div class="list_desc"><h4><a href="#">PHP+MySQLマスターブック</a></h4><span class="actual">
                 ￥ 2,916</span></div>
                  <div class="clear"></div>
            </div>
        </div>
        <div class="cart_box">
         <div class="message1">
             <div class="alert-close1"> </div>
            <div class="list_img"><img src="/images/book/2.jpg" class="img-responsive" alt=""/></div>
            <div class="list_desc"><h4><a href="#">いきなりはじめるPHP</a></h4><span class="actual">
             ￥ 1,944</span></div>
              <div class="clear"></div>
          </div>
        </div>
        <div class="cart_box1">
          <div class="message2">
             <div class="alert-close1"> </div>
            <div class="list_img"><img src="/images/book/3.jpg" class="img-responsive" alt=""/></div>
            <div class="list_desc"><h4><a href="#">独習PHP 第2版</a></h4><span class="actual">
             ￥ 3,456</span></div>
              <div class="clear"></div>
          </div>
        </div>
        <div class="sum">
            <div class="total-right">
                <p>Total :<span> ￥ 3,456</span><button type="button" class="btn btn-warning checkout">レジに進む</button></p>
            </div>
            <div class="clear"> </div>
        </div>
    </div>

    </div>
    </div>
	<!-- footer -->
	{{include file=$smarty.const.APPPATH|cat:'/views/templates/layout/_footer.html'}}
	<!-- footer End -->
</body>
</html>
