<!DOCTYPE html>
<html lang="ja">
<head>
  <title>ec-project</title>
</head>
<body>

<h2>{{$title}}</h2>

{{validation_errors()}}

{{form_open('item/create')}}

<label for="name">商品名</label>
<input type="input" name="name" /><br>

<label for="text">価格 </label>
<input type="input" name="price" /><br>
<label for="text">在庫 </label>
<!--　プルダウンメニュー
<select name ="数量選択">
  <option value="---">数量を選択</option>
  <option value="1">1</option>
  <option value="2">2</option>
  <option value="3">3</option>
  <option value="4">4</option>
  <option value="5">5</option>
  <option value="6">6</option>
  <option value="7">7</option>
  <option value="8">8</option>
  <option value="9">9</option>
  <option value="10">10</option>
</select>
-->
<!--テキストエリア-->

<textarea name="text"></textarea><br>

<br>
<input type="submit" name="submit" value="追加" />
</form>

</body>
</html>
