<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>{{lang('login_heading')}}</title>

    <!-- Bootstrap core CSS -->
    <link href="/css/bootstrap.css" rel="stylesheet">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="../../assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/css/login.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="../../assets/js/ie-emulation-modes-warning.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <div class="container">
      {{form_open("auth/login",'class="form-signin"')}}

        <h2 class="form-signin-heading">{{lang('login_heading')}}</h2>

        {{if isset($errors)}}
        <div class="alert alert-error bg-danger has-error">
          <span class="help-block">メールアドレスまたはパスワードが違います。</span>
        </div>
        {{/if}}
        {{if isset($flash_msg)}}
        <div class="alert alert-error bg-danger has-error">
          <span class="help-block">{{$flash_msg}}</span>
        </div>
        {{/if}}


        <div class="form-group control-group {{if isset($errors.email)}}has-error error{{/if}}">
          {{lang('login_identity_label', 'identity')}}
          {{form_input($identity,'identity',"class='form-control'")}}
          {{if isset($errors.email)}}<span class="help-block">{{$errors.email}}</span>{{/if}}
        </div>

        <div class="form-group control-group {{if isset($errors.password)}}has-error error{{/if}}">
          {{lang('login_password_label', 'password')}}
          {{form_input($password,'password',"class='form-control'")}}
          {{if isset($errors.password)}}<span class="help-block">{{$errors.password}}</span>{{/if}}
        </div>

        <div class="checkbox">
          <p><a href="forgot_password">{{lang('login_forgot_password')}}</a></p>
        </div>

        {{form_submit('submit', lang('login_submit_btn'),'class="btn btn-lg btn-primary btn-block"')}}
      {{form_close()}}

    </div> <!-- /container -->


    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
  </body>
</html>
