<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>{{lang('reset_password_heading')}}</title>

    <!-- Bootstrap core CSS -->
    <link href="/css/bootstrap.css" rel="stylesheet">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="../../assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/css/login.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="../../assets/js/ie-emulation-modes-warning.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <div class="container">
      {{form_open('auth/reset_password/'|cat:$code,'class="form-signin"')}}

        <h2 class="form-signin-heading">{{lang('reset_password_heading')}}</h2>

        {{if isset($message)}}
        <div class="alert alert-error bg-danger has-error">
          <span class="help-block">{{$message}}</span>
        </div>
        {{/if}}

        <div class="form-group control-group {{if isset($errors.email)}}has-error error{{/if}}">
          {{lang('reset_password_new_password_label', $min_password_length)}}
          {{form_input($new_password,'',"class='form-control'")}}
        </div>
        <div class="form-group control-group {{if isset($errors.email)}}has-error error{{/if}}">
          {{lang('reset_password_new_password_confirm_label', $min_password_length)}}
          {{form_input($new_password_confirm,'',"class='form-control'")}}
        </div>

        {{form_input($user_id)}}
    	{{form_hidden($csrf)}}

        {{form_submit('submit', lang('reset_password_submit_btn'),'class="btn btn-lg btn-primary btn-block"')}}
        <div class="checkbox">
          <p><a href="/auth/login">戻る</a></p>
        </div>
      {{form_close()}}

    </div> <!-- /container -->


    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
  </body>
</html>
