<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>AdminLTE 2 | Data Tables</title>
  <!-- Tell the browser to be responsive to screen width -->
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
  <!-- Bootstrap 3.3.6 -->
  <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
  <!-- Font Awesome -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css">
  <!-- Ionicons -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
  <!-- DataTables -->
  <link rel="stylesheet" href="/plugins/datatables/dataTables.bootstrap.css">
  <!-- Theme style -->
  <link rel="stylesheet" href="/dist/css/AdminLTE.css">
  <!-- AdminLTE Skins. Choose a skin from the css/skins
   folder instead of downloading all of them to reduce the load. -->
   <link rel="stylesheet" href="/dist/css/skins/_all-skins.min.css">
   <link rel="stylesheet" href="/css/admin/style.css">

  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->
</head>
<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">

    <!-- header -->
    {{include file=$smarty.const.TEMPLATE_DIR|cat:'admin/layout/_header.html'}}
    <!-- header End -->

    <!-- sidebar -->
    {{include file=$smarty.const.TEMPLATE_DIR|cat:'admin/layout/_sidebar.html'}}
    <!-- sidebar End -->

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        {{lang('create_user_heading')}}
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">{{lang('create_user_heading')}}</li>
      </ol>
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="row">
        <div class="col-md-12">
            <!-- general form elements -->
            <div class="box box-primary">
              <div class="box-header with-border">
                <h3 class="box-title">新規ユーザ作成</h3>
              </div>
              <!-- /.box-header -->
              {{if isset($message)}}<div id="infoMessage">{{$message}}</div>{{/if}}
              <!-- form start -->
              {{form_open("admin/users/create_user")}}
                <div class="box-body">
                    <div class="form-group">
                        <label for="exampleInputEmail1">{{lang('create_user_fname_label', 'first_name')}}</label>
                        {{form_input($first_name,'','class="form-control"')}}
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">{{lang('create_user_lname_label', 'last_name')}}</label>
                        {{form_input($last_name,'','class="form-control"')}}
                    </div>
                    <div class="form-group">
                        {{if $identity_column!=='email' }}
                            <p>{{lang('create_user_identity_label', 'identity')}}<br />{{form_error('identity')}}
                            {{form_input($identity,'','class="form-control"')}}</p>
                        {{/if}}
                    </div>

                    <div class="form-group">
                        <label for="exampleInputPassword1">{{lang('create_user_company_label', 'company')}}</label>
                        {{form_input($company,'','class="form-control"')}}
                    </div>

                    <div class="form-group">
                        <label for="exampleInputPassword1">{{lang('create_user_email_label', 'email')}}</label>
                        {{form_input($email,'','class="form-control"')}}
                    </div>

                    <div class="form-group">
                        <label for="exampleInputPassword1">{{lang('create_user_phone_label', 'phone')}}</label>
                        {{form_input($phone,'','class="form-control"')}}
                    </div>

                    <div class="form-group">
                        <label for="exampleInputPassword1">{{lang('create_user_password_label', 'password')}}</label>
                        {{form_input($password,'','class="form-control"')}}
                    </div>

                    <div class="form-group">
                        <label for="exampleInputPassword1">{{lang('create_user_password_confirm_label', 'password_confirm')}}</label>
                        {{form_input($password_confirm,'','class="form-control"')}}
                    </div>

                </div>
                <!-- /.box-body -->

                <div class="box-footer">
                  {{form_submit('submit', lang('create_user_submit_btn'),'class="btn btn-primary"')}}
                </div>
              {{form_close()}}
            </div>
            <!-- /.box -->

          </div>

        <!-- /.col -->
      </div>
      <!-- /.row -->
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
  <footer class="main-footer">
    <div class="pull-right hidden-xs">
      <b>Version</b> 2.3.5
    </div>
    <strong>Copyright &copy; 2014-2016 <a href="http://almsaeedstudio.com">Almsaeed Studio</a>.</strong> All rights
    reserved.
  </footer>

  <!-- controlsidebar -->
  {{include file=$smarty.const.TEMPLATE_DIR|cat:'admin/layout/_control_sidebar.html'}}
  <!-- controlsidebar End -->
  <!-- Add the sidebar's background. This div must be placed
       immediately after the control sidebar -->
  <div class="control-sidebar-bg"></div>
</div>
<!-- ./wrapper -->

<!-- jQuery 2.2.3 -->
<script src="/plugins/jQuery/jquery-2.2.3.min.js"></script>
<!-- Bootstrap 3.3.6 -->
<script src="/bootstrap/js/bootstrap.min.js"></script>
<!-- DataTables -->
<script src="/plugins/datatables/jquery.dataTables.min.js"></script>
<script src="/plugins/datatables/dataTables.bootstrap.min.js"></script>
<!-- SlimScroll -->
<script src="/plugins/slimScroll/jquery.slimscroll.min.js"></script>
<!-- FastClick -->
<script src="/plugins/fastclick/fastclick.js"></script>
<!-- AdminLTE App -->
<script src="/dist/js/app.min.js"></script>
<!-- AdminLTE for demo purposes -->
<script src="/dist/js/demo.js"></script>
<!-- page script -->
<script>
  $(function () {
    $("#example1").DataTable();
    $('#example2').DataTable({
      "paging": true,
      "lengthChange": false,
      "searching": false,
      "ordering": true,
      "info": true,
      "autoWidth": false
    });
  });
</script>
</body>
</html>
