<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>AdminLTE 2 | Data Tables</title>
  <!-- Tell the browser to be responsive to screen width -->
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
  <!-- Bootstrap 3.3.6 -->
  <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
  <!-- Font Awesome -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css">
  <!-- Ionicons -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
  <!-- DataTables -->
  <link rel="stylesheet" href="/plugins/datatables/dataTables.bootstrap.css">
  <!-- Theme style -->
  <link rel="stylesheet" href="/dist/css/AdminLTE.css">
  <!-- AdminLTE Skins. Choose a skin from the css/skins
   folder instead of downloading all of them to reduce the load. -->
   <link rel="stylesheet" href="/dist/css/skins/_all-skins.min.css">
   <link rel="stylesheet" href="/css/admin/style.css">

  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->
</head>
<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">

    <!-- header -->
    {{include file=$smarty.const.TEMPLATE_DIR|cat:'admin/layout/_header.html'}}
    <!-- header End -->

    <!-- sidebar -->
    {{include file=$smarty.const.TEMPLATE_DIR|cat:'admin/layout/_sidebar.html'}}
    <!-- sidebar End -->

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        {{lang('create_user_heading')}}
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">{{lang('create_user_heading')}}</li>
      </ol>
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="row">

        <div class="col-md-12">
            <!-- general form elements -->
            <div class="box box-primary">
              <div class="box-header with-border">
                <h3 class="box-title">アイコンの画像</h3>
              </div>
                <!-- /.box-header -->
                {{if isset($message)}}<div id="infoMessage">{{$message}}</div>{{/if}}
                <!-- form start -->

                {{if strlen($large_image)>0 && strlen($thumb_image)>0 }}
                <div class="box-body">
                	<!--{{$large_photo_exists}}-->{{$thumb_photo_exists}}
                	<p><a href="{{$smarty.server.PHP_SELF}}?a=delete&t={{$smarty.session.random_key}}{{$smarty.session.user_file_ext}}">Delete images</a></p>
                	<!-- <p><a href="{{$smarty.server.PHP_SELF}}">Upload another</a></p> -->
                </div>
                <!-- /.box-body -->
                {{else}}
                        {{if strlen($large_image)>0}}
                            <div class="box-body">
                                <h2>Create Thumbnail</h2>
                                <div align="center">
                                    <img src="{{$show_large_image}}" style="float: left; margin-right: 10px;" id="thumbnail" alt="Create Thumbnail" />
                                    <div style="border:1px #e5e5e5 solid; float:left; position:relative; overflow:hidden; width:{{$thumb_width}}px; height:{{$thumb_height}}px;">
                                        <img src="{{$show_large_image}}" style="position: relative;" alt="Thumbnail Preview" />
                                    </div>
                                    <br style="clear:both;"/>
                                    <form name="thumbnail" action="{{$smarty.server.PHP_SELF}}" method="post">
                                        <input type="hidden" name="x1" value="" id="x1" />
                                        <input type="hidden" name="y1" value="" id="y1" />
                                        <input type="hidden" name="x2" value="" id="x2" />
                                        <input type="hidden" name="y2" value="" id="y2" />
                                        <input type="hidden" name="w" value="" id="w" />
                                        <input type="hidden" name="h" value="" id="h" />
                                        <input type="hidden" name="upload_thumbnail" value="1"/>

                                        {{form_submit('submit', lang('create_user_submit_btn'),'class="btn btn-primary",id="save_thumb"')}}
                                    </form>
                                </div>
                            </div>
                            <!-- /.box-body -->
                        <hr />
                        {{/if}}

                    <div class="box-body">
                        {{form_open("{{$smarty.server.PHP_SELF}}",'enctype="multipart/form-data"')}}
                        <div class="form-group">
                          <label for="exampleInputFile">アイコン画像</label>
                          <input type="file" id="exampleInputFile" name="image">

                          <p class="help-block">Example block-level help text here.</p>
                        </div>
                        <div class="box-footer">
                          {{form_submit('submit', lang('create_user_submit_btn'),'class="btn btn-primary" ')}}
                        </div>
                        {{form_close()}}
                    </div>
                    <!-- /.box-body -->
                {{/if}}

            </div>
            <!-- /.box -->

          </div>

        <!-- /.col -->
      </div>
      <!-- /.row -->
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
  <footer class="main-footer">
    <div class="pull-right hidden-xs">
      <b>Version</b> 2.3.5
    </div>
    <strong>Copyright &copy; 2014-2016 <a href="http://almsaeedstudio.com">Almsaeed Studio</a>.</strong> All rights
    reserved.
  </footer>

  <!-- controlsidebar -->
  {{include file=$smarty.const.TEMPLATE_DIR|cat:'admin/layout/_control_sidebar.html'}}
  <!-- controlsidebar End -->

  <!-- Add the sidebar's background. This div must be placed
       immediately after the control sidebar -->
  <div class="control-sidebar-bg"></div>
</div>
<!-- ./wrapper -->

<!-- jQuery 2.2.3 -->
<script src="/plugins/jQuery/jquery-2.2.3.min.js"></script>
<!-- Bootstrap 3.3.6 -->
<script src="/bootstrap/js/bootstrap.min.js"></script>
<!-- DataTables -->
<script src="/plugins/datatables/jquery.dataTables.min.js"></script>
<script src="/plugins/datatables/dataTables.bootstrap.min.js"></script>
<!-- SlimScroll -->
<script src="/plugins/slimScroll/jquery.slimscroll.min.js"></script>
<!-- FastClick -->
<script src="/plugins/fastclick/fastclick.js"></script>
<!-- AdminLTE App -->
<script src="/dist/js/app.min.js"></script>
<!-- AdminLTE for demo purposes -->
<script src="/js/demo.js"></script>
<script src="/js/jquery-pack.js"></script>
<script src="/js/jquery.imgareaselect.min.js"></script>
<!-- page script -->
{{if strlen($large_image)>0}}
    <script>
      $(function () {
        $("#example1").DataTable();
        $('#example2').DataTable({
          "paging": true,
          "lengthChange": false,
          "searching": false,
          "ordering": true,
          "info": true,
          "autoWidth": false
        });
      });
    </script>

    <script type="text/javascript">
    function preview(img, selection) {
    	var scaleX = {{$thumb_width}} / selection.width;
    	var scaleY = {{$thumb_height}} / selection.height;

    	$('#thumbnail + div > img').css({
    		width: Math.round(scaleX * {{$current_large_image_width}}) + 'px',
    		height: Math.round(scaleY * {{$current_large_image_height}}) + 'px',
    		marginLeft: '-' + Math.round(scaleX * selection.x1) + 'px',
    		marginTop: '-' + Math.round(scaleY * selection.y1) + 'px'
    	});
    	$('#x1').val(selection.x1);
    	$('#y1').val(selection.y1);
    	$('#x2').val(selection.x2);
    	$('#y2').val(selection.y2);
    	$('#w').val(selection.width);
    	$('#h').val(selection.height);
    }

    $(document).ready(function () {
    	$('#save_thumb').click(function() {
    		var x1 = $('#x1').val();
    		var y1 = $('#y1').val();
    		var x2 = $('#x2').val();
    		var y2 = $('#y2').val();
    		var w = $('#w').val();
    		var h = $('#h').val();
    		if(x1=="" || y1=="" || x2=="" || y2=="" || w=="" || h==""){
    			alert("You must make a selection first");
    			return false;
    		}else{
    			return true;
    		}
    	});
    });

    $(window).load(function () {
    	$('#thumbnail').imgAreaSelect({ aspectRatio: '1:{{$aspectRatio}}', onSelectChange: preview });
    });
    </script>
{{/if}}
</body>
</html>
