<!--A Design by W3layouts
Author: W3layout
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html>
<head>
<title>Shop underwear a Ecommerce Category Flat Bootstarp Responsive Website Template | Home :: w3layouts</title>
<link href="/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="/js/jquery.min.js"></script>
<!-- Custom Theme files -->
<!--theme-style-->
<link href="/css/style.css" rel="stylesheet" type="text/css" media="all" />
<!--//theme-style-->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Shop underwear Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!--fonts-->
<link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900' rel='stylesheet' type='text/css'>
<!--//fonts-->
<script type="text/javascript" src="/js/move-top.js"></script>
<script type="text/javascript" src="/js/easing.js"></script>
				<script type="text/javascript">
					jQuery(document).ready(function($) {
						$(".scroll").click(function(event){
							event.preventDefault();
							$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
						});
					});
					</script>
<link rel="stylesheet" href="/css/etalage.css">
<script src="/js/jquery.etalage.min.js"></script>
<script>
			jQuery(document).ready(function($){

				$('#etalage').etalage({
					thumb_image_width: 300,
					thumb_image_height: 400,
					source_image_width: 900,
					source_image_height: 1200,
					show_hint: true,
					click_callback: function(image_anchor, instance_id){
						alert('Callback example:\nYou clicked on an image with the anchor: "'+image_anchor+'"\n(in Etalage instance: "'+instance_id+'")');
					}
				});

			});
		</script>
<link href="/css/flexslider.css" rel='stylesheet' type='text/css' />
							  <script defer src="/js/jquery.flexslider.js"></script>
							  <script type="text/javascript">
								$(function(){
								  SyntaxHighlighter.all();
								});
								$(window).load(function(){
								  $('.flexslider').flexslider({
									animation: "slide",
									start: function(slider){
									  $('body').removeClass('loading');
									}
								  });
								});
							  </script>
<script>$(document).ready(function(c) {
	$('.alert-close1').on('click', function(c){
		$('.message1').fadeOut('slow', function(c){
	  		$('.message1').remove();
		});
	});
});
</script>
<script>$(document).ready(function(c) {
	$('.alert-close').on('click', function(c){
		$('.message').fadeOut('slow', function(c){
	  		$('.message').remove();
		});
	});
});
</script>
</head>
<body>
    <!-- header -->
    {{include file=$smarty.const.APPPATH|cat:'/views/templates/layout/_header.html'}}
    <!-- header End -->
<div class="men">
	<div class="container">
	  <div class="single_top">
	       <div class="col-md-9 single_right">
	   	       <div class="grid images_3_of_2">
						<ul id="etalage">
							<li>
								<a href="optionallink.html">
									<img class="etalage_thumb_image" src="/images/book/BIG/5.jpg" class="img-responsive" />
									<img class="etalage_source_image" src="/images/book/BIG/5.jpg" class="img-responsive" title="" />
								</a>
								
							</li>
                            <!--
							<li>
								<img class="etalage_thumb_image" src="/images/16.JPEG" class="img-responsive" />
								<img class="etalage_source_image" src="/images/16.JPEG" class="img-responsive" title="" />
							</li>
							<li>
								<img class="etalage_thumb_image" src="/images/17.JPEG" class="img-responsive"  />
								<img class="etalage_source_image" src="/images/17.JPEG"class="img-responsive"  />
							</li>
						    <li>
								<img class="etalage_thumb_image" src="/images/16.JPEG" class="img-responsive"  />
								<img class="etalage_source_image" src="/images/16.JPEG"class="img-responsive"  />
							</li>
                        -->
						</ul>
						 <div class="clearfix"></div>
				  </div>
				  <div class="desc1 span_3_of_2">
				    <h1>プログラミングPHP 第3版</h1>
				    <div class="price_single">
                            <!--
        				  <span class="reducedfrom">$140.00</span>
        				  <span class="actual">$120.00</span><a href="#">click for offer</a>
                      -->
                          <span class="actual">￥ 4,104</span>
    				</div>

					 <span class="m_link"><a href="#">Kevin Tatroe,Peter MacIntyre,Rasmus Lerdorf</a> </span>
					 <p class="m_text2">ウェブアプリケーション開発の定番言語であるPHP言語を、言語仕様から実用的なプログラミングテクニックまで詳細に解説しています。PHP言語のコア機能である、強力な文字列処理や配列処理、改善されたオブジェクト指向プログラミングのサポートなどはもちろん、拡張モジュールと組み合わせてデータベースを使用したり、グラフを描画したり、XMLファイルを解析したりなど、実践的なテクニックも網羅しています。</p>

                     <!--
                        <ul class="size">
        					<h3>Size</h3>
        					<li><a href="#">25</a></li>
        					<li><a href="#">26</a></li>
        					<li><a href="#">27</a></li>
        					<li><a href="#">28</a></li>
        					<li><a href="#">29</a></li>
        					<li><a href="#">30</a></li>
        					<li><a href="#">31</a></li>
        					<li><a href="#">32</a></li>
        					<li><a href="#">33</a></li>
        				</ul>
        				<ul class="size">
        					<h3>Length</h3>
        					<li><a href="#">32</a></li>
        					<li><a href="#">34</a></li>
        				</ul>
                    -->

				<div class="btn_form">
				   <form action="/cart/add/1/" method="post">

					<div>
						<ul class="product-qty">
		   				   <span>数量:</span>
		   				   <select name="qty">
		   					 <option>1</option>
		   					 <option>2</option>
		   					 <option>3</option>
		   					 <option>4</option>
		   					 <option>5</option>
		   					 <option>6</option>
		   				   </select>
		   			    </ul>
					</div>

					 <input type="submit" value="Add to Cart" title="">
				  </form>
				</div>
				</div>
				  <div class="clearfix"></div>
       </div>

      <div class="clearfix"> </div>
     </div>
       <div class="toogle">
     	<h2>商品の紹介</h2>
     	<p class="m_text2">ウェブアプリケーション開発の定番言語であるPHP言語を、言語仕様から実用的なプログラミングテクニックまで詳細に解説しています。
PHP言語のコア機能である、強力な文字列処理や配列処理、改善されたオブジェクト指向プログラミングのサポートなどはもちろん、
拡張モジュールと組み合わせてデータベースを使用したり、グラフを描画したり、XMLファイルを解析したりなど、実践的なテクニックも網羅しています。
本書をマスターすれば、PHP言語の動作原理を理解して、PHPに付属する多くの拡張モジュールの使用方法を身に付け、自分でPHPのウェブアプリケーションを設計して作成できるようになるでしょう。
PHP言語を扱うすべてのユーザのための本格的解説書です。</p>
     </div>
     <div class="toogle">
     	<h2>商品の内容</h2>
     	<p class="m_text2">ウェブアプリケーション開発の定番言語であるPHP言語を、言語仕様から実用的なプログラミングテクニックまで詳細に解説しています。PHP言語のコア機能である、強力な文字列処理や配列処理、改善されたオブジェクト指向プログラミングのサポートなどはもちろん、拡張モジュールと組み合わせてデータベースを使用したり、グラフを描画したり、XMLファイルを解析したりなど、実践的なテクニックも網羅しています。本書をマスターすれば、PHP言語の動作原理を理解して、PHPに付属する多くの拡張モジュールの使用方法を身に付け、自分でPHPのウェブアプリケーションを設計して作成できるようになるでしょう。PHP言語を扱うすべてのユーザのための本格的解説書です。</p>
     </div>
     <h4 class="head_single">よく一緒に購入されている商品</h4>
     <div class="span_3">
	          	 <div class="col-sm-3 grid_1">
	          	    <a href="single.html">
				     <img src="/images/book/4.jpg" class="img-responsive" alt=""/>
				     <h3>パーフェクトPHP</h3>
				   	 <p>小川 雄大</p>
				   	 <h4>￥ 3,888</h4>
			         </a>
				  </div>
				<div class="col-sm-3 grid_1">
	          	    <a href="single.html">
				     <img src="/images/book/8.jpg" class="img-responsive" alt=""/>
				     <h3>parum clari</h3>
				   	 <p>Duis autem vel eum iriure</p>
				   	 <h4>Rs.399</h4>
			         </a>
				  </div>
				 <div class="col-sm-3 grid_1">
	          	    <a href="single.html">
				     <img src="/images/book/1.jpg" class="img-responsive" alt=""/>
				     <h3>parum clari</h3>
				   	 <p>Duis autem vel eum iriure</p>
				   	 <h4>Rs.399</h4>
			         </a>
				  </div>
				  <div class="col-sm-3 grid_1">
	          	    <a href="single.html">
				     <img src="/images/book/3.jpg" class="img-responsive" alt=""/>
				     <h3>parum clari</h3>
				   	 <p>Duis autem vel eum iriure</p>
				   	 <h4>Rs.399</h4>
			         </a>
				  </div>
				  <div class="clearfix"></div>
	     </div>
      </div>
</div>
<!---->
<!-- footer -->
{{include file=$smarty.const.APPPATH|cat:'/views/templates/layout/_footer.html'}}
<!-- footer End -->
</body>
</html>
