<!--footer-->
<div class="footer">
	<div class="container">
		<div class="col-md-3 footer-grid">
			<h3>About Us</h3>
        <p>採用情報</p>
        <p>Amazonについて</p>
        <p>プレスリリース</p>
        <p>Amazonと地球</p>
        <p>Amazonのコミュニティ活動</p>
        <p>Amazon Story</p>
        <p>AmazonGlobal</p>
		</div>
		<div class="col-md-3 footer-grid ">
			<h3>Menu</h3>
			<ul>
				<li><a href="/">Home</a></li>
				<li><a href="キッチン.html">キッチン</a></li>
				<li><a href="care.html">生活用品</a></li>
				<li><a href="hold.html">キッチン用品</a></li>
				<li><a href="codes.html">Short Codes</a></li>
			</ul>
		</div>
		<div class="col-md-3 footer-grid ">
			<h3>Customer Services</h3>
			<ul>
				<li><a href="/shipping/">配送について</a></li>
				<li><a href="/terms/">利用規約</a></li>
				<li><a href="/faq/">Faqs</a></li>
				<li><a href="/contact/">お問い合わせ</a></li>
			</ul>
		</div>
		<div class="col-md-3 footer-grid">
			<h3>My Account</h3>
			<ul>
				<li><a href="/login/">ログイン</a></li>
				<li><a href="/regist/">ユーザ登録</a></li>
				<li><a href="/wishlist/">欲しいものリスト</a></li>

			</ul>
		</div>
		<div class="clearfix"></div>
			<div class="footer-bottom">
				<h2 ><a href="/">Sachool Store<span>The Best Supermarket</span></a></h2>
				<!-- <p class="fo-para">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris</p>-->
        <!--
        <ul class="social-fo">
					<li><a href="#" class=" face"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
					<li><a href="#" class=" twi"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
					<li><a href="#" class=" pin"><i class="fa fa-pinterest-p" aria-hidden="true"></i></a></li>
					<li><a href="#" class=" dri"><i class="fa fa-dribbble" aria-hidden="true"></i></a></li>
				</ul>
        -->
        <!--
				<div class=" address">
					<div class="col-md-4 fo-grid1">
							<p><i class="fa fa-home" aria-hidden="true"></i>12K Street , 45 Building Road Canada.</p>
					</div>
					<div class="col-md-4 fo-grid1">
							<p><i class="fa fa-phone" aria-hidden="true"></i>+1234 758 839 , +1273 748 730</p>
					</div>
					<div class="col-md-4 fo-grid1">
						<p><a href="mailto:info@example.com"><i class="fa fa-envelope-o" aria-hidden="true"></i>info@example1.com</a></p>
					</div>
					<div class="clearfix"></div>

					</div>
        -->
			</div>
		<div class="copy-right">
			<p> &copy; 2016 Sachool store. All Rights Reserved</p>
		</div>
	</div>
</div>
<!-- //footer-->
