<!-- Left side column. contains the logo and sidebar -->
<aside class="main-sidebar">
  <!-- sidebar: style can be found in sidebar.less -->
  <section class="sidebar">
    <!-- Sidebar user panel -->

    <!-- /.search form -->
    <!-- sidebar menu: : style can be found in sidebar.less -->
    <ul class="sidebar-menu">
      <li class="header">MAIN NAVIGATION</li>
      <li class="active treeview">
        <a href="/admin/home">
          <i class="fa fa-dashboard"></i> <span>Home</span>
          <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
          </span>
        </a>
      </li>
      <li class="treeview">
        <a href="/admin/users">
          <i class="fa fa-laptop"></i>
          <span>ユーザ管理</span>
          <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
          </span>
        </a>
      </li>

      <li><a href="/admin/product"><i class="fa fa-circle-o text-aqua"></i> <span>商品管理</span></a></li>
    </ul>
  </section>
  <!-- /.sidebar -->
</aside>
